.webinar-layout {
  display: flex;
  margin: 0px 20px;
  flex-direction: row;
  gap: 20px; 
}


.webinar-filter {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.filter-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-group {
  margin-bottom: 15px;
}

.filter-group h4 {
  margin-bottom: 10px;
}

.filter-group label {
  display: block;
  margin: 5px 0;
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
}


.webinar-list {
  flex: 3;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px;
}

.webinar-card {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 20px 0px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.webinar-card img {
  width: 30%;
  border-radius: 8px;
}

.webinar-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.webinar-card p {
  margin: 5px 0;
}


@media (max-width: 768px) {
  .webinar-layout {
    flex-direction: column; 
  }
}
